@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Volkhorn";
  src: url("../public/fonts/Volkhorn.otf");
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  color: #fff;
}